* {
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);;
}

#principal {
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: MADE TOMMY;
    border-radius: 10px;
}

#principal h1 {
    font-family: Made TOMMY Soft;
    color: rgb(239, 239, 232);
    padding: 10px;
}

#menu {
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: MADE TOMMY;
    font-size: 20px;
    list-style: none;
    border-radius: 10px;
    text-align: center;
}

#menu li {
    display: inline-block;
    padding: 13px;
}

#menu li a {
    text-decoration: none;
    color: rgb(239, 239, 232)
}

#menu li a:hover {
    color: rgb(17, 17, 17);
    background-color: rgb(239, 239, 232);
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
    filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
    transform: scale(1.1);
    transition: all 0.4s;
}

#imagem1 {
    border-radius: 5%;
    padding: 10px;
    width: 550px;
    height: auto;
}

#imagem1 figcaption {
    margin-left: 15px;
}

.container {
    display: flex;
}

.container p {
    margin: 10px;
}

.h1_part {
    margin-top: -500px;
    font-family: MADE Tommy Soft;
    color: rgb(239, 239, 232);
    padding: 10px;
    position: static;
}